<template>
    <div class="chart-container">
        <div :id="virtualMachineName" style="width: auto;height: 80vh"></div>
    </div>
</template>

<script>
import { getMetric } from '../api/api'
export default {
  props: {
    virtualMachineName: {
      type: String,
      required: true
    },
    vmId: {
        type: Number,
        required: true
    }
  },
  data () {
      return {
          maxNum: 100,
          nowDimension: 100,
          metric_num: 5,
          data: {
              source: [
                  ['product'],
                  ['CPU'],
                  ['DISK'],
                  ['MEMORY'],
                  ['NETWORK']
              ]
          },
          metric_order: {
              0: 'time',
              1: 'cpu_occupation',
              2: 'disk_occupation',
              3: 'mem_occupation',
              4: 'net_rate'
          },
          chart: null
      }
  },
  mounted () {
      console.log(this.vmId)
      this.draw()
  },
  methods: {
      initData: async function () {
        await getMetric({ vm_id: this.vmId, data_num: this.nowDimension }).then(res => {
            res = res.data.metric_list
            res.map((currentValue) => {
                currentValue['time'] = this.transformDate(currentValue['time'])
                for (var i = 1; i < 5; ++i) {
                    currentValue[this.metric_order[i]] = currentValue[this.metric_order[i]].toFixed(2)
                }
            })
            res.reverse()
            for (var i = 0; i < this.nowDimension; ++i) {
                for (var j = 0; j < this.metric_num; ++j)
                    this.data.source[j].push(res[i][this.metric_order[j]])
            }
        })
      },
      transformDate: function (stringDate) {
          var date = new Date(stringDate)
          return `${date.getHours()}:${date.getMinutes()}:${date.getSeconds()}`
      },
      updateData: function () {
          var that = this
            setInterval(function () {
                getMetric({ vm_id: that.vmId, data_num: 1 }).then(res => {
                    res = res.data.metric_list[0]
                    res['time'] = that.transformDate(res['time'])
                    for (var j = 1; j < 5; ++j) {
                        res[that.metric_order[j]] = res[that.metric_order[j]].toFixed(2)
                    }
                    for (var i = 0; i < 5; ++i) {
                        that.data.source[i].splice(1, 1)
                        that.data.source[i].push(res[that.metric_order[i]])
                    }
                    that.nowDimension -= 1
                    if (that.nowDimension === 1) {
                        that.nowDimension = that.maxNum
                    }
                    that.chart.setOption({
                        dataset: that.data,
                        series: {
                            id: 'pie',
                            label: {
                                formatter: '{b}: {@[' + that.nowDimension + ']} ({d}%)'
                            },
                            encode: {
                                value: that.nowDimension,
                                tooltip: that.nowDimension
                            }
                        }
                    })
                })

            }, 5000);
      },
      draw: async function () {
          await this.initData()
          var chartDom = document.getElementById(this.virtualMachineName)
          this.chart = this.$echarts.init(chartDom)
          var option = {
              legend: {},
              title: {
                  text: '资源占用率'
              },
              tooltip: {
                  trigger: 'axis',
                  showContent: false
              },
              dataZoom: {
                  start: 95,
                  end: 100
              },
              dataset: this.data,
              xAxis: { type: 'category' },
              yAxis: { gridIndex: 0 },
              grid: { top: '55%' },
              series: [
                  {
                      type: 'line',
                      smooth: true,
                      seriesLayoutBy: 'row',
                      emphasis: { focus: 'series' }
                  },
                  {
                      type: 'line',
                      smooth: true,
                      seriesLayoutBy: 'row',
                      emphasis: { focus: 'series' }
                  },
                  {
                      type: 'line',
                      smooth: true,
                      seriesLayoutBy: 'row',
                      emphasis: { focus: 'series' }
                  },
                  {
                      type: 'line',
                      smooth: true,
                      seriesLayoutBy: 'row',
                      emphasis: { focus: 'series' }
                  },
                  {
                      type: 'pie',
                      id: 'pie',
                      radius: '30%',
                      center: ['50%', '25%'],
                      label: {
                      formatter: '{b}: {@[' + this.nowDimension + ']} ({d}%)'
                      },
                      encode: {
                      itemName: 'product',
                      value: this.nowDimension,
                      tooltip: this.nowDimension
                      }
                  }
              ]
          }
          var that = this
          this.chart.on('updateAxisPointer', function (event) {
              const xAxisInfo = event.axesInfo[0]
              if (xAxisInfo) {
                  const dimension = xAxisInfo.value + 1
                  that.nowDimension = dimension
                  that.chart.setOption({
                      series: {
                          id: 'pie',
                          label: {
                              formatter: '{b}: {@[' + dimension + ']} ({d}%)'
                          },
                          encode: {
                              value: dimension,
                              tooltip: dimension
                          }
                      }
                  })
              }
          })
          this.chart.setOption(option)
          this.updateData()
      }

  }
}
</script>

<style>
</style>
