<template>
  <div class="resource-container">
    <div id="top-left-memory" v-if="isMemoryShow"></div>
    <div id="top-right-network" v-if="isNetworkShow"></div>
    <div id="bottom-left-cpu" v-if="isCpuShow"></div>
    <div id="bottom-right-disk" v-if="isDiskShow"></div>
    <div :id="virtualMachineName" style="width: 40vw;height: 40vh"></div>
  </div>
</template>

<script>

export default {
  name: "ResourceContainer",
  props: {
    virtualMachineName: {
      type: String,
      required: true
    }
  },
  data () {
    return {
      isMemoryShow: false,
      isCpuShow: false,
      isDiskShow: false,
      isNetworkShow: false
    }
  },
  mounted() {
    this.drawPie()
  },
  methods: {
    drawPie: function () {
      const chartDom = document.getElementById(this.virtualMachineName)
      const myChart = this.$echarts.init(chartDom)
      let option

      option = {
        tooltip: {
          trigger: 'item'
        },
        series: [
          {
            name: 'Virtual Machine Resources',
            type: 'pie',
            radius: ['40%', '70%'],
            minAngle: 5,
            avoidLabelOverlap: false,
            itemStyle: {
              borderRadius: 10,
              borderColor: '#fff',
              borderWidth: 2
            },
            label: {
              show: false,
              position: 'center'
            },
            emphasis: {
              label: {
                show: true,
                fontSize: '25',
                fontWeight: 'bold'
              }
            },
            labelLine: {
              show: false
            },
            data: [
              { value: 10, name: 'MEMORY' },
              { value: 20, name: 'CPU' },
              { value: 30, name: 'DISK' },
              { value: 40, name: 'NETWORK' }
            ],
            clockwise: false
          }
        ]
      }

      option && myChart.setOption(option)

      let currentIndex = -1

      let id = setInterval(function() {
        let dataLen = option.series[0].data.length
        // 取消之前高亮的图形
        myChart.dispatchAction({
          type: 'downplay',
          seriesIndex: 0,
          dataIndex: currentIndex
        })
        currentIndex = (currentIndex + 1) % dataLen
        // 高亮当前图形
        myChart.dispatchAction({
          type: 'highlight',
          seriesIndex: 0,
          dataIndex: currentIndex
        })
        // 显示 tooltip
        myChart.dispatchAction({
          type: 'showTip',
          seriesIndex: 0,
          dataIndex: currentIndex
        })
        if (currentIndex === 3) {
          clearInterval(id)
          setTimeout(function () {
            myChart.dispatchAction({
              type: 'downplay',
              seriesIndex: 0,
              dataIndex: currentIndex
            })
            myChart.dispatchAction({
              type: 'hideTip',
              seriesIndex: 0,
              dataIndex: currentIndex
            })
          }, 1000)
        }
      }, 1000)


      const that = this
      myChart.on('click', { name: 'MEMORY' }, function () {
        that.isMemoryShow = !that.isMemoryShow
      })
      myChart.on('click', { name: 'CPU' }, function () {
        that.isCpuShow = !that.isCpuShow
      })
      myChart.on('click', { name: 'DISK' }, function () {
        that.isDiskShow = !that.isDiskShow
      })
      myChart.on('click', { name: 'NETWORK' }, function () {
        that.isNetworkShow = !that.isNetworkShow
      })
    }
  }
}
</script>

<style scoped>
.resource-container {
  width: 80vw;
  height: 80vh;
  margin-left: 5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

#top-left-memory {
  width: 32vw;
  height: 40vh;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #53e1bc;
  z-index: 999;
}
#top-right-network {
  width: 32vw;
  height: 40vh;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
  background-color: #8253e1;
}
#bottom-left-cpu {
  width: 32vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #e15393;
  z-index: 999;
}
#bottom-right-disk {
  width: 32vw;
  height: 40vh;
  position: absolute;
  bottom: 0;
  right: 0;
  background-color: #87e153;
  z-index: 999;
}
</style>
