<template>
  <div class="server">

    <el-popover
        placement="right"
        width="480px"
        v-model="popoverVisible"
        :title=popoverTitle
        trigger="click">

        <icon-svg icon-class="server"
                  class="icon-server"
                  :class="isServerSelected ? 'isSelected' : ''"
                  slot="reference"></icon-svg>
        <virtual-machine-card
            :server-name=serverIp
            :server-id=serverId
            :is-delete-selected=isDeleteSelected
            v-on:check-resources="onCheckResources"
            ref="child"
        ></virtual-machine-card>

        <div class="manager-button" style="text-align: right; margin: 0">
          <el-button size="mini" type="primary"
                     @click="isDeleteSelected = true"
                     v-if="!isDeleteSelected"
          >
            删除虚拟机
          </el-button>

          <el-button size="mini" type="primary"
                     @click="dialogFormVisible = true"
                     v-if="!isDeleteSelected"
          >
            添加虚拟机
          </el-button>

          <el-button size="mini" type="text"
                     @click="isDeleteSelected = false"
                     v-if="isDeleteSelected"
          >
            取消
          </el-button>

          <el-button size="mini" type="primary"
                     v-if="isDeleteSelected"
                     @click="deleteConfirm"
          >
            确认
          </el-button>

        </div>

    </el-popover>

    <div class="server-name">
      <label>{{serverIp}}</label>
    </div>

    <el-dialog title="添加虚拟机" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="vm_form">
        <el-form-item label="虚拟机name" :label-width="formLabelWidth" prop="name">
          <el-input v-model="form.name" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="虚拟机ip" :label-width="formLabelWidth" prop="vm_ip">
          <el-input v-model="form.vm_ip" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="虚拟机username" :label-width="formLabelWidth" prop="username">
          <el-input v-model="form.username" autocomplete="off"></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addConfirm">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import VirtualMachineCard from "./VirtualMachineCard";
import {addVirtualMachine, deleteVirtualMachine} from "../api/api";

export default {
  name: "Server",
  props: {
    serverIp: {
      type: String,
      required: true
    },
    isServerSelected: {
      type: Boolean,
      required: false
    },
    serverId: {
      type: Number,
      required: true
    }
  },
  data () {
    return {
      popoverVisible: false,
      dialogFormVisible: false,
      form: {
        name: '',
        vm_ip: '',
        username: ''
      },
      rules: {
        name: [
          {required: true, message: '请输入虚拟机名称', trigger: 'blur'}
        ],
        vm_ip: [
          {required: true, message: '请输入虚拟机ip地址', trigger: 'blur'}
        ],
        username: [
          {required: true, message: '请输入用户名', trigger: 'blur'}
        ]
      },
      formLabelWidth: '130px',
      isDeleteSelected: false
    }
  },
  methods: {
    onCheckResources: function (vm_info) {
      this.$emit('check-resources', vm_info)
      this.popoverVisible = false
    },
    deleteVirtualMachine: function () {
      let deleteList = []
      deleteList = this.extractVMToDelete()

      for (let item of deleteList)
      {
        let params = {
          vm_id: item.vm_id
        }
        deleteVirtualMachine(params).then(res => {
          if (res.data.msg === 'SUCCESS') {
            this.$notify({
              message: item.vm_name + '删除成功',
              type: 'success',
              duration: 2000
            })
          } else {
            this.$notify({
              message: item.vm_name + '删除失败',
              type: 'error',
              duration: 2000
            })
          }
          this.$refs.child.getVirtualMachine()
        })
      }

      this.isDeleteSelected = false
    },
    extractVMToDelete: function () {
      let tempList = []
      for (let item of this.$refs.child.virtual_machine_list)
      {
        if (item.isSelected) {
          tempList.push(item)
        }
      }
      return tempList
    },
    deleteConfirm: function () {
      this.$confirm('要删除选中的虚拟机吗, 此操作不可逆，是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteVirtualMachine()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    addVirtualMachine: function () {
      console.log(this.form)
      let params = {
        vm_name: this.form.name,
        vm_ip: this.form.vm_ip,
        vm_username: this.form.username,
        server_id: this.serverId
      }
      addVirtualMachine(params).then(res => {
        if (res.data.msg === 'SUCCESS') {
          this.$notify({
            message: '添加虚拟机成功',
            type: 'success',
            duration: 2000
          })
          this.$refs.child.getVirtualMachine()
        } else if (res.data.msg === 'SERVER NOT EXIST') {
          this.$notify({
            message: '服务器不存在',
            type: 'warning',
            duration: 2000
          })
        } else {
          this.$notify({
            message: '添加虚拟机失败',
            type: 'error',
            duration: 2000
          })
        }
      })
      this.dialogFormVisible = false
    },
    clearForm: function () {
      for (let index in this.form)
      {
        this.form[index] = ''
      }
    },
    addConfirm: function () {
      this.$confirm('是否要创建该虚拟机？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.addVirtualMachine()
        this.clearForm()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消创建'
        })
      })
    }
  },
  components: {
    VirtualMachineCard
  },
  computed: {
    popoverTitle () {
      return this.serverIp + '虚拟机列表'
    }
  },
  watch: {
    dialogFormVisible: function (newVal, oldVal) {
      if (!newVal && oldVal) {
        this.$refs['vm_form'].resetFields()
      }
    }
  }
}
</script>

<style scoped>
.server {
  width: 200px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.icon-server {
  width: 8em;
  height: 8em;
}
.isSelected {
  border: #6e2fec 2px solid;
}

.server-name {
  margin-top: 10px;
}
.server-name label {
  font-size: x-large;
}

</style>
