<template>
  <div class="server-container">
    <div class="container-title">
      <label>服务器列表</label>
      <div class="manager-server" style="text-align: right; margin: 0">
        <el-button type="danger" icon="el-icon-delete" size="mini"
                   @click="isDeleteSelected = true"
                   v-if="!isDeleteSelected"
        >
          删除
        </el-button>

        <el-button type="primary" icon="el-icon-plus" size="mini"
                   @click="dialogFormVisible = true"
                   v-if="!isDeleteSelected"
        >
          添加
        </el-button>


        <el-button size="mini" type="text"
                   @click="isDeleteSelected = false"
                   v-if="isDeleteSelected"
        >
          取消
        </el-button>

        <el-button size="mini" type="primary"
                   v-if="isDeleteSelected"
                   @click="deleteConfirm"
        >
          确认
        </el-button>

      </div>
    </div>

    <div v-if="serverList.length !== 0" class="container-body">
      <server v-for="(item, index) in serverList"
              :key="index"
              :server-ip="item.server_ip"
              :server-id="item.server_id"
              :is-server-selected="item.isSelected"
              v-on:check-resources="onCheckResources"
              @click.native="isDeleteSelected ? item.isSelected = !item.isSelected : ''"
      ></server>
    </div>
    <el-empty class="empty-container" v-else description="暂时没有服务器噢，赶快添加吧！！！" :image-size="200">
    </el-empty>

    <el-dialog title="新增服务器" :visible.sync="dialogFormVisible">
      <el-form :model="form" :rules="rules" ref="server_form">
        <el-form-item label="服务器ip" :label-width="formLabelWidth" prop="server_ip">
          <el-input v-model="form.server_ip" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="服务器username" :label-width="formLabelWidth" prop="username">
          <el-input v-model="form.username" autocomplete="off"></el-input>
        </el-form-item>
        <el-form-item label="服务器password" :label-width="formLabelWidth" prop="password">
          <el-input v-model="form.password" autocomplete="off" show-password></el-input>
        </el-form-item>
      </el-form>
      <div slot="footer" class="dialog-footer">
        <el-button @click="dialogFormVisible = false">取 消</el-button>
        <el-button type="primary" @click="addConfirm">确 定</el-button>
      </div>
    </el-dialog>

  </div>
</template>

<script>
import Server from "./Server";
import {getServers, addServer, deleteServer} from "../api/api";

export default {
  name: "ServerContainer",
  data () {
    return {
      serverList: [],
      isDeleteSelected: false,
      dialogFormVisible: false,
      form: {
        server_ip: '',
        password: '',
        username: ''
      },
      rules: {
        server_ip: [
          {required: true, message: '请输入服务器ip地址', trigger: 'blur'}
        ],
        password: [
          {required: true, message: '请输入密码', trigger: 'blur'}
        ],
        username: [
          {required: true, message: '请输入用户名', trigger: 'blur'}
        ]
      },
      formLabelWidth: '130px'
    }
  },
  created() {
    this.getServers()
  },
  watch: {
    isDeleteSelected: function (newVal, oldVal) {
      if (!newVal && oldVal) {
        for (let server of this.serverList) {
          server.isSelected = false
        }
      }
    },
    dialogFormVisible: function (newVal, oldVal) {
      if (!newVal && oldVal) {
        this.$refs['server_form'].resetFields()
      }
    }
  },
  methods: {
    onCheckResources: function (vm_info) {
      this.$emit('check-resources', vm_info)
    },
    addServer: function () {
      console.log(this.form)
      let params = {
        server_ip: this.form.server_ip,
        server_username: this.form.username,
        server_password: this.form.password
      }
      addServer(params).then(res => {
        console.log(res)
        if (res.data.msg === 'SUCCESS') {
          this.$notify({
            message: '添加服务器成功',
            type: 'success',
            duration: 2000
          })
          this.getServers()
        } else {
          this.$notify({
            message: '服务器已存在',
            type: 'warning',
            duration: 2000
          })
        }
      })
      this.dialogFormVisible = false
    },
    addConfirm: function () {
      this.$confirm('是否要添加该服务器？', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.addServer()
        this.clearForm()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消添加'
        })
      })
    },
    clearForm: function () {
      for (let index in this.form)
      {
        this.form[index] = ''
      }
    },
    extractServerToDelete: function () {
      let deleteList = []
      for (let server of this.serverList)
      {
        if (server.isSelected) {
          deleteList.push(server)
        }
      }
      return deleteList
    },
    deleteServer: function () {
      let deleteList = this.extractServerToDelete()
      for (let item of deleteList)
      {
        let params = {
          server_id: item.server_id
        }
        deleteServer(params).then(res => {
          console.log(res)
          if (res.data.msg === 'SUCCESS') {
            this.$notify({
              message: item.server_ip + '删除成功',
              type: 'success',
              duration: 2000
            })
          } else {
            this.$notify({
              message: item.server_ip + '删除失败',
              type: 'error',
              duration: 2000
            })
          }
          this.getServers()
        })
      }
      this.isDeleteSelected = false
    },
    deleteConfirm: function () {
      this.$confirm('要删除选中的服务器吗?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.deleteServer()
      }).catch(() => {
        this.$message({
          type: 'info',
          message: '已取消删除'
        })
      })
    },
    getServers: function () {
      getServers().then( res => {
        console.log('getServers', res)
        if (res.data.msg === 'SUCCESS') {
          this.serverList = this.addSelectAttribute(res.data.servers)
        } else {
          this.$notify({
            message: '服务器获取失败',
            type: 'error',
            duration: 2000
          })
        }
      })
    },
    addSelectAttribute: function (server_list) {
      for (let server of server_list)
      {
        console.log(server)
        server['isSelected'] = false
      }
      return server_list
    }
  },
  components: {
    Server
  }
}
</script>

<style scoped>
.server-container {
  /*border: 2px solid;*/
  /*border-radius: 10px;*/
  width: 80vw;
  height: 80vh;
  margin-left:5vw;
}
.container-title {
  height: 7%;
  display: flex;
  align-items: center;
  border-bottom: #373435 1px solid;
  position: relative;
}
.container-title label {
  font-size: x-large;
  margin-left: 2vw;
}

.manager-server {
  position: absolute;
  right: 3vw;
}

.container-body {
  height: 93%;
  padding: 10px 10px 10px 10px;
  display: flex;
  flex-wrap: wrap;
}

.empty-container {
  height: 93%;
}
</style>
