<template>
  <div class="box-card">
    <div v-if="virtual_machine_list.length !== 0">
      <el-card v-for="item in virtual_machine_list"
               :key="item.vm_id"
               class="text item"
               :class="{isSelected: item.isSelected}"
               shadow="hover"
               @click.native="isDeleteSelected ? item.isSelected = !item.isSelected : ''"
      >
        <span>{{item.vm_name}}</span>
        <el-button
            style="float: right; padding: 3px 0"
            type="text"
            :disabled=isDeleteSelected
            @click="checkResources(item.vm_name, item.vm_id)"
        >
          查看资源利用率
        </el-button>
      </el-card>
    </div>
    <el-empty v-else class="empty-vm" description="这个服务器上还没有虚拟机噢~"></el-empty>
  </div>
</template>

<script>
import {getVirtualMachine} from "../api/api";

export default {
  name: "VirtualMachineCard",
  props: {
    serverName: {
      type: String,
      required: true
    },
    serverId: {
      type: Number,
      required: true
    },
    isDeleteSelected: {
      type: Boolean,
      required: true
    }
  },
  watch: {
    isDeleteSelected: function (newVal, oldVal) {
      if (!newVal && oldVal) {
        for (let vm of this.virtual_machine_list) {
          vm.isSelected = false
        }
      }
    }
  },
  created() {
    this.getVirtualMachine()
  },
  data () {
    return {
      virtual_machine_list: []
    }
  },
  methods: {
    checkResources: function (virtual_machine_name, vm_id) {
      let vm_info = {
        virtual_machine_name: this.serverName + '/' + virtual_machine_name,
        vm_id: vm_id
      }
      this.$emit('check-resources', vm_info)
    },
    getVirtualMachine: function () {
      let params = {
        server_id: this.serverId
      }
      getVirtualMachine(params).then(res => {
        console.log('getVirtualMachine:', res)
        if (res.data.msg === 'SUCCESS') {
          this.virtual_machine_list = this.addSelectAttribute(res.data.vms)
        }
      })
    },
    addSelectAttribute: function (virtual_machine_list) {
      for (let machine of virtual_machine_list)
      {
        console.log(machine)
        machine['isSelected'] = false
      }
      return virtual_machine_list
    }
  }
}
</script>

<style scoped>
.box-card {
  width: 480px;
  height: 250px;
  overflow: auto;
}
::-webkit-scrollbar {
  display: none;
}

.text {
  font-size: 14px;
}

.item {
  margin-bottom: 18px;
}


::v-deep .isSelected {
  border: 1px solid #7979ff;
}

::v-deep .empty-vm {
  padding: 20px 0 0 0;
}

</style>
