<template>
  <div id="app">
    <div class="logo">
      <label>虚拟环境指标监控平台</label>
    </div>
    <el-tabs class="main" v-model="editableTabsValue" type="card" @tab-remove="removeTab" tab-position="left">
      <el-tab-pane label="服务器列表" name="server">
        <server-container v-on:check-resources="onCheckResources"></server-container>
      </el-tab-pane>
      <el-tab-pane
          v-for="(item, index) in editableTabs"
          :key="index"
          :label="item.virtual_machine_name"
          :name="item.virtual_machine_name"
          closable="closable"
      >
        <line-chart :virtual-machine-name=item.virtual_machine_name :vm-id=item.vm_id></line-chart>
      </el-tab-pane>
    </el-tabs>
  </div>
</template>

<script>
import ServerContainer from './components/ServerContainer'
import {initDB} from "./api/api"
import LineChart from './components/LineChart'
export default {
  name: 'app',
  data () {
    return {
      editableTabsValue: 'server',
      editableTabs: []
    }
  },
  created() {
    initDB().then( res => {
      if (res.data.msg === 'SUCCESS') {
        console.log('初始化成功')
      }
    })

  },
  methods: {
    addTab(targetInfo) {
      let targetName = targetInfo.virtual_machine_name
      if (this.editableTabs.indexOf(targetName) !== -1) {
        this.editableTabsValue = targetName
      } else {
        let newTabName = targetName
        this.editableTabs.push(targetInfo)
        this.editableTabsValue = newTabName
      }
    },
    removeTab(targetName) {
      let tabs = this.editableTabs
      let activeName = this.editableTabsValue
      if (activeName === targetName) {
        tabs.forEach((tab, index) => {
          if (tab.virtual_machine_name === targetName) {
            let nextTab = tabs[index + 1] || tabs[index - 1]
            if (nextTab) {
              activeName = nextTab.virtual_machine_name
            }
          }
        })
      }

      this.editableTabs = tabs.filter(tab => tab.virtual_machine_name !== targetName)
      if (this.editableTabs.length === 0) {
        this.editableTabsValue = 'server'
      } else {
        this.editableTabsValue = activeName
      }
    },
    onCheckResources: function (vm_info) {
      this.addTab(vm_info)
    }
  },
  components: {
    ServerContainer,
    // ResourceContainer,
    LineChart
  }
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  width: 100%;
  height: 100%;
  justify-content: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-overflow-style: none;
}
.logo {
  width: 100%;
  height: 10vh;
  background-color: black;
  display: flex;
  align-items: center;
  box-shadow: 0 7px 6px -7px #373435;
  -webkit-box-shadow: 0 7px 6px -7px #373435;
  -moz-box-shadow: 0 7px 6px -7px #373435;
}
.logo label {
  font-size: xx-large;
  color: aliceblue;
  margin-left: 20px;
}
.main {
  height: 83vh;
  width: 100%;
  margin-top: 4vh;
}

</style>
